<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distrito CERO</title>
    <link rel="icon" href="../static/icon/Logo2.png" type="img/png">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        
        <!-- nav 1 -->
        <nav>
            <ul class="main-nav1">
                <li><a href="../templates/index.html">Inicio</a></li>
                <li><a href="../templates/servicios.html">Servicios</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
        
        <!-- imagen-logo -->
        <div>
            <img src="../static/icon/Logo2.png" alt="" type= "img/png">
        </div>
        
        <!-- nav 2 -->
        <nav >
            <ul class="main-nav2">
                <li class="li1-nav2"><a href="">🛒</a></li> <!-- carrito -->
                <li class="li2-nav2"><a href="">📍</a></li> <!-- ubicacion -->
                <li class="li3-nav2"><a href="">👤</a></li>  <!-- login -->
            </ul>
        </nav>
    </header>

    <!-- main -->
    <main>
        <div class="titulo">
            <h1>Distrito CERO</h1>
        </div>
        
        <section>
            
        </section>
        <section>

        </section>
    </main>
</body>
</html>