<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios - Distrito Cero</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body>
    <header class="site-header">
        <nav class="header-nav">
            <a href="index.html" class="brand">
                <img src="../static/icon/Logo2.png" alt="Logo Distrito CERO" class="brand-logo">
                <span class="brand-name">DISTRITO CERO</span>
            </a>
            <ul class="nav-links">
                <li><a href="../templates/Colecciones.html">Colecciones</a></li>  
                <li><a href="../templates/Novedades.html">Novedades</a></li>
                <li><a href="../templates/Sostenibilidad.html">Sostenibilidad</a></li>
                <li><a href="../templates/About.html">Nosotros</a></li>
            </ul>

            <div class="nav-actions">
                <button class="btn btn-primary">Comprar</button>
                <a href="" class="icon-btn" aria-label="Buscar">🔍</a>
                <a href="#" class="icon-btn" aria-label="Cuenta">👤</a>
                <a href="#" class="icon-btn" aria-label="Carrito">🛒</a>
            </div>

            <button class="menu-toggle" aria-label="Abrir menú">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </header>



















    
<footer class="site-footer">
        <div class="footer-grid">
            <div>
                <h3>DISTRITO CERO</h3>
                <p>Moda urbana con propósito. Hecho con ❤️ en Colombia.</p>
            </div>
            <div>
                <h4>Enlaces</h4>
                <ul>
                    <li><a href="../templates/Colecciones.html">Colecciones</a></li>
                    <li><a href="../templates/Novedades.html">Novedades</a></li>
                    <li><a href="../templates/Sostenibilidad.html">Sostenibilidad</a></li>
                    <li><a href="../templates/">Contacto</a></li>
                    <li><a href="../templates/servicios.html">Servicios</a></li>
                </ul>
            </div>
            <div>
                <h4>Síguenos</h4>
                <ul class="social-links">
                    <li><a href="#">📷 Instagram</a></li>
                    <li><a href="#">📘 Facebook</a></li>
                    <li><a href="#">🎵 TikTok</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-btm">
            <p>© 2026 DISTRITO CERO. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>